In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [20]:
import csv

padron = "C:\\Users\\jerem\\OneDrive\\Escritorio\\TP Labo de Datos\\padron.csv"
establecimientos = "C:\\Users\\jerem\\OneDrive\\Escritorio\\TP Labo de Datos\\establecimientos.csv"

with open(padron, 'r', encoding='utf-8', errors='replace') as file:
    padron = file.read()
with open(establecimientos, 'r', encoding='utf-8', errors='replace') as file:
    establecimiento = file.read()
     

from io import StringIO
df_padron = pd.read_csv(StringIO(padron))
df_establecimiento = pd.read_csv(StringIO(establecimiento))

In [50]:
df_padron = df_padron.rename(columns={'razon social': 'razon_social'})

In [78]:
df_padron.groupby('Certificadora_id')['certificadora_deno'].nunique()

Certificadora_id
1    1
2    1
3    1
4    1
Name: certificadora_deno, dtype: int64

In [77]:
df_padron[['Certificadora_id','certificadora_deno']].value_counts()

Certificadora_id  certificadora_deno
2                 OIA S.A.              640
1                 Argencert S.R.L.      428
3                 Letis S.A.            231
4                 Food Safety S.A.       96
dtype: int64

In [45]:
df_padron.head()

,pais_id,pais,provincia_id,provincia,departamento,localidad,rubro,productos,categoria_id,categoria_desc,Certificadora_id,certificadora_deno,razon social,establecimiento
0,32,ARGENTINA,6,BUENOS AIRES,BARADERO,INDEFINIDA,AGRICULTURA,SOJA,1,Productores,2,OIA S.A.,ADD CROPS S.A.,BARADERO 1
1,32,ARGENTINA,6,BUENOS AIRES,BARADERO,INDEFINIDA,AGRICULTURA,"GIRASOL, MIJO, RESIDUO VEGETAL",1,Productores,2,OIA S.A.,ADD CROPS S.A.,BARADERO 2
2,32,ARGENTINA,6,BUENOS AIRES,BARADERO,INDEFINIDA,AGRICULTURA,"MAIZ, AVENA, CAMPO NATURAL",1,Productores,2,OIA S.A.,ADD CROPS S.A.,EL BUEN RETIRO
3,32,ARGENTINA,6,BUENOS AIRES,AZUL,INDEFINIDA,AGRICULTURA,"SOJA, ALPISTE",1,Productores,3,Letis S.A.,AGRICOLA EL HORIZONTE S.A.,EL RELINCHO
4,32,ARGENTINA,6,BUENOS AIRES,AZUL,INDEFINIDA,AGRICULTURA,"SOJA, ALPISTE, TRIGO",1,Productores,3,Letis S.A.,AGRICOLA EL HORIZONTE S.A.,EL HORIZONTE

In [42]:
df_padron.columns

Index(['pais_id', 'pais', 'provincia_id', 'provincia', 'departamento',
       'localidad', 'rubro', 'productos', 'categoria_id', 'categoria_desc',
       'Certificadora_id', 'certificadora_deno', 'razon social',
       'establecimiento'],
      dtype='object')

In [81]:
df_padron[df_padron['localidad']=='INDEFINIDO'].count()

pais_id               389
pais                  389
provincia_id          389
provincia             389
departamento          389
localidad             389
rubro                 389
productos             389
categoria_id          389
categoria_desc        389
Certificadora_id      389
certificadora_deno    389
razon_social          389
establecimiento       389
dtype: int64

In [85]:
df_padron.head()

,ID,departamento,provincia,lat,lon,in_departamentos,provincia_id,empleo,clae6,clae2,letra,Tipo_coordenada,proporcion_mujeres
0,10000000018M51M5M2G1111111543049,Capital,Catamarca,-28.464,-65.785,10049,10,a. 1-9,949990,94,S,Exacta,1.0
1,1000000002MM0P1201G2020208914049,Capital,Catamarca,-28.464,-65.766,10049,10,a. 1-9,681098,68,L,Aproximada,0.0
2,1000000002MM1017P0G2020202577070,La Paz,Catamarca,-29.280,-65.060,10070,10,a. 1-9,89110,8,B,Exacta,0.0
3,1000000006681P86GG667501414147181049,Capital,Catamarca,-28.463,-65.796,10049,10,b. 10-49,11299,1,A,Aproximada,0.0
4,1000000007215MG51051616168109070,La Paz,Catamarca,-28.880,-65.140,10070,10,a. 1-9,14113,1,A,Aproximada,0.0